---
import * as Icon from "@astropub/icons";
import Container from "../components/Container.astro";

const data = [
  {
    img: "https://avatars.githubusercontent.com/u/151086389?s=200&v=4",
    label: "Palestine Badge",
    website: null,
    description: "Show solidarity with Palestine and add a badge to your code repository",
    github: "https://github.com/TechForPalestine/badges",
  },
  {
    img: "https://avatars.githubusercontent.com/u/151086389?s=200&v=4",
    label: "Palestine Banner",
    website: null,
    description:
      "Add a #CeasefireNOW banner to your website",
    github: "https://github.com/TechForPalestine/palestine-banner",
  },
  {
    img: "https://avatars.githubusercontent.com/u/151086389?s=200&v=4",
    label: "Palestine Profile Pic Maker",
    website: "https://ppm.techforpalestine.org",
    description:
      "Add a 🇵🇸 themed border to your profile images",
    github: "https://github.com/TechForPalestine/palestine-pfp-maker",
  },
  {
    img: "https://avatars.githubusercontent.com/u/151086389?s=200&v=4",
    label: "Anti-Palestinian VC Funds",
    website: null,
    description:
      "A list of VCs that support Israel's genocide against the Palestinian people of Gaza",
    github: "https://github.com/TechForPalestine/antipalestinian-vc-funds",
  },
  {
    img: "https://avatars.githubusercontent.com/u/151086389?s=200&v=4",
    label: "Israeli Tech Alternatives",
    website: "https://israelitechalternatives.com/",
    description:
      "A comprehensive list of Israeli tech companies to boycott and suggested alternatives",
    github:
      "https://github.com/TechForPalestine/boycott-israeli-tech-companies-dataset",
  }
];
---

<section class="py-24 bg-white" id="projects-list">
  <Container>
    <div class="space-y-8">
      <div class="text-center space-y-2">
        <h2 class="font-medium text-4xl">Browse our projects</h2>
      </div>
      <div
        class="divide-y divide-solid border rounded-md overflow-hidden bg-white shadow-sm"
      >
        {
          data.map(({ label, description, github, img, website }) => (
            <div class="flex gap-4 justify-between items-center text-zinc-900 p-4 hover:bg-zinc-50">
              <div class="flex-grow flex gap-4 items-center">
                <img src={img} class="w-10 h-10 rounded-lg" />
                <div>
                  <h3 class="font-semibold">{label}</h3>
                  <p class="text-ellipsis overflow-hidden text-sm text-zinc-600">
                    {description}
                  </p>
                </div>
              </div>
              <div class="flex flex-col md:flex-row">
                {website && (
                  <a
                    class="flex justify-between items-center text-zinc-900 p-4 hover:bg-zinc-50"
                    href={website}
                    target="_blank"
                  >
                    <Icon.Globe class="w-6 h-6" />
                  </a>
                )}
                <a
                  class="flex justify-between items-center text-zinc-900 p-4 hover:bg-zinc-50"
                  href={github}
                  target="_blank"
                >
                  <Icon.GitHubLogo class="w-6 h-6" />
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</section>
