---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import "../../styles/base.css";

const contacts = [
   {
    name: "Instagram",
    url: "https://www.instagram.com/techforpalestine",
    icon: "mdi:instagram",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/tech4palestine",
    icon: "mdi:twitter",
  },
  {
    name: "GitHub",
    url: "https://github.com/TechForPalestine/",
    icon: "mdi:github",
  },
  {
    name: "Discord",
    url: "https://techforpalestine.org/discord-invite",
    icon: "ic:baseline-discord",
  },
];

const resourceSections = [
  {
    name: 'Recruitment Organizations',
    resources: [
      {
        name: 'Jobs For Palestine (by MENA Alliances)',
        url: 'https://menaalliances.com/jobsforpalestine/',
        logo: '/mena-alliances-logo.webp',
        description: `Empowering Palestinian Professionals With Job Opportunities`,
      },
      {
        name: 'Gaza Sky Geeks',
        url: 'https://gazaskygeeks.com/',
        logo: '/gaza-sky-geeks-logo.png',
        description: `A leading tech hub in Gaza and the West Bank, fostering the digital economy and future technology leaders since 2011.`,
      },
      {
        name: 'Manara.tech',
        url: 'https://manara.tech/tech-jobs-for-palestine',
        logo: `
          <svg viewBox="0 0 450 99">
            <g id="logo">
              <path clip-rule="evenodd" d="M211.775 49.5809C211.775 35.8655 219.929 27 232.262 27C233.107 27 234.46 27.0333 236.318 27.1L239.026 27.206L239.355 27.2221C250.168 27.837 258.644 36.4406 258.644 46.8773V70.9483H246.304V64.7842L244.853 66.4638L244.692 66.6468C241.755 69.9189 236.92 72 232.851 72C219.975 72 211.775 63.2765 211.775 49.5809ZM243.297 43.1929C241.612 40.2011 237.907 38.5031 234.033 38.5031C228.053 38.5031 223.758 42.3035 223.758 49.5C223.758 56.3731 227.716 60.5778 234.369 60.5778C238.075 60.5778 241.444 59.1223 243.297 55.6453C244.14 53.6829 244.562 51.4436 244.562 48.9276C244.562 46.4117 244.14 44.5001 243.297 43.1929ZM315.864 49.5809C315.864 35.8655 324.019 27 336.352 27C337.197 27 338.55 27.0333 340.407 27.1L343.116 27.206L343.444 27.2221C354.258 27.837 362.734 36.4406 362.734 46.8773V70.9483H350.394V64.7842L348.943 66.4638L348.781 66.6468C345.844 69.9189 341.009 72 336.941 72C324.064 72 315.864 63.2765 315.864 49.5809ZM347.386 43.1929C345.702 40.2011 341.996 38.5031 338.122 38.5031C332.143 38.5031 327.848 42.3035 327.848 49.5C327.848 56.3731 331.806 60.5778 338.459 60.5778C342.165 60.5778 345.534 59.1223 347.386 55.6453C348.533 53.6635 349.107 51.4361 349.107 48.9631C349.107 46.7146 348.533 44.7913 347.386 43.1929ZM423.618 27C411.285 27 403.13 35.8655 403.13 49.5809C403.13 63.2765 411.331 72 424.207 72C428.275 72 433.111 69.9189 436.048 66.6468L436.209 66.4638L437.66 64.7842V70.9483H450V46.8773C450 36.4406 441.524 27.837 430.71 27.2221L430.382 27.206L427.673 27.1C425.816 27.0333 424.463 27 423.618 27ZM425.388 38.5031C429.262 38.5031 432.968 40.2011 434.652 43.1929C435.716 44.8346 436.248 46.937 436.248 49.5C436.248 52.063 435.716 54.1115 434.652 55.6453C432.8 59.1223 429.431 60.5778 425.725 60.5778C419.072 60.5778 415.114 56.3731 415.114 49.5C415.114 42.3035 419.409 38.5031 425.388 38.5031ZM397.98 27.0809L398.158 27.0823C398.453 27.0872 398.74 27.1044 399.055 27.135L399.181 27.1481V40.4684L398.781 40.403C397.319 40.1685 396.206 40.0604 395.117 40.0604L394.905 40.0616C387.955 40.1377 383.769 43.9822 383.769 51.3598V70.9483H370.924V44.9237L370.926 44.6414C371.079 35.3411 378.765 27.7399 388.478 27.3495C392.349 27.1939 395.248 27.106 397.173 27.0855L397.98 27.0809ZM266.424 44.6928C268.326 34.0771 275.437 28.8351 288.002 28.8351C296.589 28.8351 302.422 31.1942 305.952 35.2636L306.143 35.4887C308.533 38.3566 309.626 41.8655 309.626 44.891V70.9483H296.697L296.697 50.3092L296.695 50.0288C296.668 47.4384 296.382 45.5932 295.488 43.8845C294.17 41.3656 291.722 39.9528 288.002 39.9528C284.049 39.9528 281.491 41.7139 280.187 44.7017L280.078 44.9607C279.306 46.8684 279.11 48.9469 279.224 51.0748L279.223 70.9483H266.378V44.953L266.424 44.6928ZM148.336 50.9395V71.1268H135.095L135 45.3937C135 45.3937 136.265 28.7785 156.505 28.7785C166.836 28.7785 169.544 31.1624 172.447 35.6758C175.862 31.4086 181.048 28.7785 187.708 28.7785C205.629 28.7785 206.57 41.7764 206.57 45.3592V71.1268H192.994V48.1493C192.994 43.4718 189.834 40.5175 185.821 40.5175C180.783 40.5175 177.453 44.0462 177.453 50.9395V71.1268H163.791V48.1493C163.791 43.4718 160.632 40.5175 156.533 40.5175C151.581 40.5175 148.336 44.0462 148.336 50.9395Z" fill="#1c1c1c" fill-rule="evenodd" id="Manara"></path>
              <path clip-rule="evenodd" d="M47.5969 40.5802H41.5017L41.4977 46.3065H17.7654L0 28.9128V23.3362L23.5208 23.2739L23.8256 0H29.616L35.7112 5.96768L41.5017 11.637L47.2921 17.3063L47.5969 40.5802ZM59.1008 40.5802H53.0056L53.3104 17.3063L59.1008 11.637L64.8913 5.96768L70.9865 0H76.7769L77.0817 23.2739L100.602 23.3362V28.9128L82.8371 46.3065H59.1048L59.1008 40.5802ZM47.056 46.3065H53.0056V52.1613H47.056V46.3065ZM41.7677 98.8611H59.3549V93.8793L50.3184 86.1073L41.7677 93.8793V98.8611ZM53.0056 57.8875H59.1008L59.1048 52.1613H82.8371L100.602 69.5549V75.1315L77.0817 75.1938L76.7769 98.4677H70.9865L64.8913 92.5001L59.1008 86.8308L53.3104 81.1615L53.0056 57.8875ZM41.5017 58.4198H47.5969L47.2921 81.6937L41.5017 87.363L35.7112 93.0323L29.616 99H23.8256L23.5208 75.7261L0 75.6638V70.0872L17.7654 52.6935H41.4977L41.5017 58.4198ZM83.2945 99V81.4355H101.143L83.2945 99ZM17.8488 81.4355V99L0 81.4355H17.8488ZM83.2945 0V17.5645H101.143L83.2945 0ZM17.8488 18.0968V0.532258L0 18.0968H17.8488ZM100.602 58.0161V40.4516H95.6338L88.1624 49.2065L95.6338 58.0161H100.602ZM41.4989 0.146035H59.086V4.87796L50.0496 11.8384L41.4989 4.87796V0.146035ZM0 58.0161V40.4516H4.73783L12.4401 49.2065L4.73783 58.0161H0Z" fill="#FF773B" fill-rule="evenodd" id="logo_2"></path>
            </g>
          </svg>
        `,
        description: `Built to connect top tech talent in the Middle East & N. Africa (MENA) to jobs around the world, with a focus on women and Palestine - especially Gaza.`,
      },
      {
        name: 'Rising from Ashes',
        url: 'https://ps.bees.to/',
        logo: '/bees-logo-horizontal.webp',
        description: `Leveraging partnerships with Bees, Flow Accelerator, and Gaza Sky Geeks, this platform is purpose built to connect global companies with remote workers on the ground in Palestine.`,
      },
      {
        name: 'TAP',
        url: 'https://www.tapcareers.io/',
        logo: '/tap-logo.svg',
        description: `A career accelerator in Palestine and Jordan, offering remote ready talent for startups.`,
      },
      {
        name: 'Techtative',
        url: 'https://techtative.io/',
        logo: '/techtative-logo.png',
        description: `As the premier EOR in Palestine, we empower organizations worldwide to harness Palestinian expertise, delivering the benefits desired by every employee.`,
      },
      {
        name: 'Olives and Heather',
        url: 'https://www.olivesandheather.com/',
        logo: '/olives-and-heather.png',
        description: `To serve, scale and grow innovation and impact organisations everywhere through marketing excellence whilst empowering a new generation of Palestinian marketeers.`,
      },
      {
        name: 'Apricot',
        url: 'https://apricotinternational.org/',
        logo: '/apricot.jpg',
        description: `Experienced MENA Engineers delivering results and contributing to your product's growth immediately.`,
      },
    ]
  },
  {
    name: 'Freelance',
    resources: [
      {
        name: 'Dribble',
        url: 'https://dribbble.com/freelance-ux-designers-for-hire-gaza-ps',
        logo: '/dribbble-logo.png',
        description: `Showcases a diverse range of UX designers from Gaza, offering their professional services.`,
      },
      {
        name: 'Upwork',
        url: 'https://www.upwork.com/hire/ps/',
        logo: `
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102 28" role="img" aria-hidden="true">
            <path fill="#14a800" d="M28.18,19.06A6.54,6.54,0,0,1,23,16c.67-5.34,2.62-7,5.2-7s4.54,2,4.54,5-2,5-4.54,5m0-13.34a7.77,7.77,0,0,0-7.9,6.08,26,26,0,0,1-1.93-5.62H12v7.9c0,2.87-1.3,5-3.85,5s-4-2.12-4-5l0-7.9H.49v7.9A8.61,8.61,0,0,0,2.6,20a7.27,7.27,0,0,0,5.54,2.35c4.41,0,7.5-3.39,7.5-8.24V8.77a25.87,25.87,0,0,0,3.66,8.05L17.34,28h3.72l1.29-7.92a11,11,0,0,0,1.36,1,8.32,8.32,0,0,0,4.14,1.28h.34A8.1,8.1,0,0,0,36.37,14a8.12,8.12,0,0,0-8.19-8.31"></path>
            <path fill="#14a800" d="M80.8,7.86V6.18H77.2V21.81h3.65V15.69c0-3.77.34-6.48,5.4-6.13V6c-2.36-.18-4.2.31-5.45,1.87"></path>
            <polygon fill="#14a800" points="55.51 6.17 52.87 17.11 50.05 6.17 45.41 6.17 42.59 17.11 39.95 6.17 36.26 6.17 40.31 21.82 44.69 21.82 47.73 10.71 50.74 21.82 55.12 21.82 59.4 6.17 55.51 6.17"></polygon>
            <path fill="#14a800" d="M67.42,19.07c-2.59,0-4.53-2.05-4.53-5s2-5,4.53-5S72,11,72,14s-2,5-4.54,5m0-13.35A8.1,8.1,0,0,0,59.25,14,8.18,8.18,0,1,0,75.6,14a8.11,8.11,0,0,0-8.18-8.31"></path>
            <path fill="#14a800" d="M91.47,14.13h.84l5.09,7.69h4.11l-5.85-8.53a7.66,7.66,0,0,0,4.74-7.11H96.77c0,3.37-2.66,4.65-5.3,4.65V0H87.82V21.82h3.64Z"></path>
          </svg>
        `,
        description: `Hire freelancers from Palestine on the Upwork platform.`,
      },
    ]
  }
]

const logoClasses = `h-10 w-auto md:h-12 lg:h-14`
---

<Layout title="Jobs for Palestinians" description="Find organizations that connect Palestinian job seekers with employers.">
  <main>
    <section class="py-24 px-6 sm:py-40 sm:px-16 md:px-20 lg:flex lg:flex-col lg:items-center">
      <div class="lg:max-w-2xl ">
        <h1 class="text-4xl font-normal sm:text-5xl md:text-6xl">
          Hire
          <span class="font-bold">top talent</span>
          from Palestine and the Middle East
        </h1>
        <p class="mt-4 text-xl sm:text-2xl md:text-3xl">
          Get help hiring engineers, designers and technologists from across the region.
        </p>
        <p class="mt-12 text-lg md:mt-20 md:text-xl">
          Know another good resource? Let us know at:
          {
            contacts.map((contact) => (
                <a
                  href={contact.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="inline-block relative top-1.5 ml-1 text-zinc-950/60 hover:text-zinc-950/80"
                >
                  <span class="sr-only">{contact.name}</span>
                  <Icon name={contact.icon} class="h-6 w-6" />
                </a>
            ))
          }
        </p>
      </div>
    </section>
    {
      resourceSections.map(resourceSection => (
        <section class="bg-white py-24 px-6 sm:px-16 md:px-20 lg:flex lg:flex-col lg:items-center">
          <div class="lg:max-w-2xl">
            <h2 class="text-3xl font-bold sm:text-4xl">{resourceSection.name}</h2>
            <div class="mt-12 flex flex-col gap-24 md:gap-32">
              {
                resourceSection.resources.map(resource => (
                  <article>
                    {
                      resource?.logo
                      ? (

                          <h3 class="sr-only">{ resource.name }</h3>
                          <a href={resource.url}>
                            {resource.logo.substring(0, 1) === '/' ? <img class={logoClasses} src={resource.logo}> : <Fragment set:html={resource.logo.replace('<svg ', `<svg class="${logoClasses}" `)}></Fragment>}
                          </a>
                        )
                      : (
                        <h3 class="text-2xl font-bold sm:text-3xl">{resource.name}</h3>
                      )
                    }
                    <p class="mt-4 text-lg leading-loose md:text-2xl md:leading-loose" set:html={resource.description}></p>
                    <p class="mt-8 text-lg md:mt-12">
                      <a
                        href={resource.url}
                        class="
                          inline-flex items-center gap-2 justify-center whitespace-nowrap transition-colors rounded-md bg-green-800 hover:bg-green-900 px-3 h-10 text-base font-medium text-white focus:outline-none
                          md:text-2xl md:px-6 md:py-8
                        "
                        >Visit {resource.name}</a
                      >
                    </p>
                  </article>
                ))
              }
            </div>
          </div>
        </section>
      ))
    }
  </main>
</Layout>
