---
import { Icon } from "astro-icon/components";

const socials = [
  {
    name: "Instagram",
    url: "https://www.instagram.com/techforpalestine",
    icon: "mdi:instagram",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/tech4palestine",
    icon: "mdi:twitter",
  },
  {
    name: "YouTube",
    url: "https://www.youtube.com/@tech4palestine",
    icon: "mdi:youtube",
  },
  {
    name: "GitHub",
    url: "https://github.com/TechForPalestine/",
    icon: "mdi:github",
  },
  {
    name: "Discord",
    url: "https://techforpalestine.org/discord-invite",
    icon: "ic:baseline-discord",
  },
  {
    name: "Mastodon",
    url: "https://infosec.exchange/@tech4palestine",
    icon: "mdi:mastodon",
  },
  {
    name: "TikTok",
    url: "https://www.tiktok.com/@techforpalestine",
    icon: "ic:baseline-tiktok",
  },
  {
    name: "Bluesky",
    url: "https://bsky.app/profile/techforpalestine.org",
    icon: "simple-icons:bluesky",
  },
  {
    name: "UpScrolled",
    url: "https://share.upscrolled.com/en/user/39494e76-22a4-47ee-a67d-cd7049835a53/",
    icon: "/upscrolled-icon.svg",
  },
];

---

<ul class="flex space-x-5 relative z-10">
  {
    socials.map((social) => (
      <li>
        <a
          href={social.url}
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-500 hover:text-blue-600 transition-colors duration-200 group"
          title={social.name}
        >
          <span class="sr-only">{social.name}</span>
          {social.icon.startsWith('/') ? (
            <img src={social.icon} alt={social.name} class="h-6 w-6 transition-transform duration-200 group-hover:scale-110" />
          ) : (
            <Icon name={social.icon} class="h-6 w-6 transition-transform duration-200 group-hover:scale-110" />
          )}
        </a>
      </li>
    ))
  }
</ul>
